@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}
textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

body {
	font-family:'Trebuchet MS','PMingLiU-ExtB','MingLiU-ExtB','Meiryo UI','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* 下に追記 */
/* 以下header*/
#background-img{
	width: 100vw;
	position: relative;
}
#top-text{
	font-size: 3.5vw;
	color: white;
	position: absolute;
	top: 20vw;
	left: 3vw;
}
#menu-background-color{
	background-color:#242424;
	/*透明度の調整*/
	opacity: 0.7;
	height: 6vw;
	width: 100vw;
	/*要素を固定*/
	position: fixed;
	/*固定位置を指定*/
	top:0px;
}
#top-menu{
	display: flex;
	width: 100vw;
	height: 6vw;
	/*要素を固定*/
	position: fixed;
	/*固定位置を指定*/
	top:0px;
}
#top-logo{
	/*画像中央基準で自動トリミング*/
	object-fit: cover;
	height: 5vw;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 1vw;
}
#menu-list{
	display:flex;
	color: white;
	width: auto;
	margin-top: 2vw;
	margin-left: auto;
}
#menu-list a{
	margin-right: 6vw;
	color: white;
	font-size: 1.3vw;
}
#search{
	font-size: 1vw;
	width: 10vw;
	height: 2vw;
	line-height: 2vw;
	color: white;
	text-align: center;
	margin-top: 2vw;
	margin-right: 3vw;
	/*角丸にする*/
	border-radius: 2px;
	/*線で囲む*/
	border: solid 1px white;
	/*ホバーで指になるように指定*/
	cursor:pointer;
}


html,body {
	/*ページ全体へスムーススクロールを指定*/
    scroll-behavior: smooth;
	/*scroll-padding-top:値;でページ内リンクで移動した時にヘッダーが被らないようにする。
	 スクロールポート上部にオフセット値を付与して被りを防止する
	  今回はヘッダーの高さ＋余白で指定*/
	scroll-padding-top: 7vw;
}

#l1 {
	scroll-margin-top: 130px;
}


/*以下リゾート詳細*/
.title{
	text-align: center;
	margin: 9vw 0vw 2vw 0vw;
	font-size: 1.3vw;
}
.subtitle{
	text-align: center;
	margin-bottom: 1.3vw;
	font-size: 1.3vw;
	padding-top: 2vw;
}
.place{
	font-size: 1vw;
	width: auto;
}
.resort{
	font-size: 1.3vw;
	width: auto;
}
#main-1{
	display:flex;
	/* .inの分を引いてmargin*/
	margin: 0vw 7vw 7vw 7vw;
}
#main-1 img{
	/*vwでビューポートを基準に寸法決め*/
	/*幅は親要素に合わせるため100%、高さは指定*/
	width: 100%;
	height: 11vw;
	border-radius: 3%;
	/*要素の寸法を優先すると画像の縦横比が崩れるためトリミングして防ぐ*/
	/*要素の高さと幅に合わせて中央基準トリミング*/
	object-fit: cover;
}
#main-a{
	border-right: solid 1px rgb(91, 188, 195);
}
#main-a,#main-b{
	width: 50%;
}
#in,#out{
	display:flex;
	flex-wrap: wrap;
	padding: 1%;
}
#in div,#out div{
	flex: auto;
	width: 50%;
	height: 50%;
	padding: 1%;
}
/*以下 おすすめ体験*/
#container-ex{
	height: 40vw;
	width: auto;
	padding: 0% 8%;
	/*コンテナグリット化*/
	display:grid;
	/*行と列(トラック)の高さ・幅を指定
	/*行の高さを指定  grid-template-rows: 1行目 ２行目*/
	grid-template-rows: 28% 28% 44%;
	/*列の高さを指定  grid-template-columns: 1列目 ２列目*/
	grid-template-columns: 20% 20% 20% 20% 20%;  /* fr = 残りの幅*/
}

/*img:hoverでホバー時の処理を指定*/
/*参照https://yoncoichi.com/image-transform/#toc1*/
#container-ex img:hover{
	/*画像の大きさを変化させる*/
	/*scale(2)で幅・高さを２倍  scale(幅,高さ)*/
	transform: scale(1.1);
}
#container-ex img{
	height: 100%;
	width: 100%;
	/*画像の縦横比が変わらないように、親要素の大きさに合わせて画像中央基準でトリミング*/
	object-fit: cover;
	/*ゆっくり拡大するように指定*/
	transition: all 0.5s ease-in-out;
}
#item1,#item2,#item3,#item4,#item5{
	/*親要素の大きさからはみ出ないように指定*/
	/*borderを基準に切り取るため余白はmarginで指定*/
	margin: 0.5vw;
	overflow: hidden;
}

#item1{
	grid-row:1/3;
	grid-column: 1/4;
	position: relative;
}
#item2{
	grid-row:1/2;
	grid-column: 4/6;
	position: relative;
}
#item3{
	grid-row:2/3;
	grid-column: 4/6;
	position: relative;
}
#item4{
	grid-row:3/4;
	grid-column: 1/3;
	position: relative;
}
#item5{
	grid-row:3/4;
	grid-column: 3/6;
	position: relative;
}
#text1,#text2,#text3,#text4,#text5{
	color: white;
	position: absolute;
	bottom: 2vw;
	left: 2vw;	
	font-size: 2vw;
}


/*以下 旅の提案 */
#haya{
	width: 100%;
	padding: 0vw 7.5vw 0vw 8vw;
	/*左右空白合わせ +0.5% */
	/*追加*/
	/*opacityを０で透明にする*/
	opacity: 0;
	/*表示領域を確保しながら要素を消す*/
	visibility: hidden;
	/*起点から終点の間のアニメーションを１.5秒かけて補完する*/
	transition: all 1.5s;
	/*Y軸方向に1vwずらす*/
	transform: translateY(1vw);
}
/*jsのスクロールイベントで追加するクラスを記述*/
.is-active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}


#title-another{
	text-align: center;
	margin: 8vw 0vw 0vw 0vw;
	font-size: 1.3vw;
}
 /*【】左揃え −10* (他に＋10px)*/
 .topick{
	background-color: #EEEEEE;
	height: 9vw;
	display: flex;
	margin: 1vw 8vw 0vw 8vw;
	padding-left:3vw;
 }
 .topick img{
	height: 6vw;
	width: auto;
	margin-top: 1.5vw;
	margin-right: 5vw;
 }
 .topick div{
	/*フォントサイズをvwで指定でウィンドウの大きさに合わせて変動。*/
	/*【明日】ウィンドウの大きさを変えるとレイアウトが崩れるため相対位置を使ってみる*/
	font-size: 0.8vw;
	height: 52px;
	width: auto;
	margin-top: 3vw;
 }
.lp{
	padding-left: 0.4vw;
}
/*以下 map */
#map{
	background-color: #EEEEEE;
	margin-top: 10vw;
	position: relative;
}
#container-map{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	display:grid;
	/*拡大縮小に合わせられるように割合で割る*/
	grid-template-rows: 40% 60%;
	grid-template-columns: 40% 60%;
	padding: 1.5vw;
}
#map-logo{
	grid-row:1/2;
	grid-column: 1/2;
	/*画像比率が変形しないように高さをauto*/
	object-fit: cover;
	/*トリミングで画僧が切れないようにautoで大きさ調整*/
	height: auto;
	width:100%;
	padding-right: 2vw;
}
#map-address{
	grid-row:2/3;
	grid-column: 1/2;
	font-size: 1vw;
	height: 100%;
	width:100%;
	padding-right: 2vw;
}
#map-address p{
	padding-top: 1vw;
	padding-left: 1vw;
	border-bottom: 0.01px solid rgb(0, 0, 0);
	width: 100%;
}
#map-map{
	grid-row:1/3;
	grid-column: 2/3;
	height: 100%;
	width:100%;
	border-radius: 2px;
}
#to-top{
	font-size: 1vw;
	background-color:#242424;
	opacity: 0.7;
	width: 10vw;
	height: 3vw;
	/* 水平方向の中央揃え */
	text-align: center;
	/*line-height = 文字の高さ＋上下の余白*/
	/*今回は背景の高さに合わせて中央揃えにした*/
	line-height: 3vw;
	position:fixed;
	bottom: 0.5vw;
	right: 0px;
}
#to-top a{
	/*リンクの文字色を変える*/
	color: white;
}

.btn{
	font-size: 1vw;
	text-align: center;
	width: 20vw;
	height: 3vw;
	line-height: 3vw;
	margin-left: auto;
	margin-right: auto;
	margin-top:2vw;
	border: solid 1px #67b2b5;
	border-radius: 2px;
	box-shadow:1px 1px 2px rgb(152, 152, 152);
	cursor:pointer;
}





/*モーダル本体の指定 + モーダル外側の背景の指定*/
#modal-container{
	/*画面上に固定する(ヘッダー固定と同様)*/
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

/*モーダルウィンドウの仕様を指定*/
#modal-body{
	margin-top: 6vw;
	margin-left: auto;
	margin-right: auto;
	height: 35vw;
	width: 35vw;
	background: rgb(255, 255, 255);
	border-radius: 1vw;
}
/*モーダル内のコンテンツの指定*/
#empty-room{
	color: #000000;
	text-align: center;
	padding-top: 2vw;
	font-size: 1.5vw;
}

#inp div{
	width: 20vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5vw;
	font-size: 1vw;
}
#inp input{
	height: 2vw;
	width: 20vw;
	border-radius: 0.5vw;
	border:thin black solid;
}
#s-btn{
	font-size: 1vw;
	width: 20vw;
	height: 3vw;
	line-height: 3vw;
	background-color: #67b2b5;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3vw;
	cursor:pointer
}



@media screen and (max-width:768px){
	/*以下header レスポンシブ*/
	html,body {
		scroll-padding-top: 9vw;
	}
	#top-text{
		font-size: 7vw;
		color: white;
		position: absolute;
		top: 27vw;
		left: 5vw;
	}
	.title{
		font-size:2.5vw;
	}
	.subtitle{
		font-size:2vw;
		margin-top: 1vw;
	}
	#title-another{
		font-size: 2.5vw;
	}
	#top-menu,#menu-background-color{
		height: 8vw;
	}
	#top-logo{
		height: 6vw;
		margin-top: 1vw;
	}
	#menu-list a{
		font-size: 2vw;
		margin-top: 0.7vw;
	}
	#search{
		font-size: 1.7vw;
		width: 10vw;
		height: 2.5vw;
		line-height: 2.5vw;
		margin-top: 3vw;
		border-radius: 2px;
	}
	/*以下リゾート施設 レスポンシブ*/
	.place{
		font-size: 1.5vw;
	}
	.resort{
		font-size: 2vw;
	}
	#main-1{
		display: block;
	}
	#main-a{
		border-right: none;
		border-bottom: solid 1px #67b2b5;
	}
	#main-1 img{
		width: 100%;
		height: 28vw;
		border-radius: 3%;
		object-fit: cover;
	}
	#main-a,#main-b{
		width: 100%;
	}
	/*以下おすすめ体験 レスポンシブ*/
	/*▽▽以下要確認▽▽*/
	#container-ex{
		display:block;
		height: auto;
	}
	#item1,#item2,#item3,#item4,#item5{
		/*position:relative;を取り消す*/
		position: static;
	}
	#text1,#text2,#text3,#text4,#text5{
		color: rgb(0, 0, 0);
		left:auto;
		font-size:4vw;
		/*position:absolute;を取り消す*/
		position: static;
	}
	#container-ex img{
		display:none;
	}
	/*▲▲以下要確認▲▲*/
	#haya{
		width: 100%;
		padding: 0vw 7.5vw 0vw 8vw;
	}
	/*以下お知らせ レスポンシブ*/
	.topick{
		background-color: rgb(231, 231, 231);
		height: 30vw;
		display: block;
		margin: 1vw 8vw 0vw 8vw;
		padding-left:3vw;
	}
	.topick div{
		font-size: 0.8vw;
		height: 52px;
		width: auto;
		margin-top: 1vw;
	}
	
	.topick img{
		margin-left: auto;
		margin-right: auto;
		padding-top: 3vw;
		padding-bottom: 1vw;
		height: 12vw;
	}
	.topick h6,p{
		font-size: 2vw;
		width: 77vw;
	}
	/*以下map レスポンシブ*/
	#container-map{
		width: 60%;
		display:block;
	}
	#map-map{
		margin-top:3vw;
		margin-bottom: 2.5vw;
	}
	#map-address{
		font-size:2vw;
		margin-bottom: 1vw;
	}
	#to-top{
		display:none;
	}
	.btn{
		width: 25vw;
		height: 6vw;
		line-height: 6vw;
		font-size: 2vw;
	}
	#modal-body{
		height: 42vw;
	}

	#inp p{
		font-size: 1.5vw;
	}

	#inp input{
		height: 3vw;
		font-size: 1.5vw;
	}

	#s-btn{
		font-size: 1.5vw;
	}
	
}